doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Document
    style 
        include cs.css
  body
    .overall
      .page1
        p CONTACT US
      .form1
        form.form2(
          method="post" 
          action="/ff"
          )
          input(
            placeholder="Enter Your Name" 
            name="name" 
            type="text"
            )
          input(
            placeholder="Enter Your Phone Number " 
            name="phone" 
            type="text"
            )
          input(
            placeholder="Enter Your Email Address" 
            name="email" 
            type="text"
            )
          input(
            placeholder="Enter Your Reason For Contact" 
            name="reason" 
            type="text"
            )
          input(type="submit")
          